ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}